p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
    font-size: 28px;
}

.title {
    margin-bottom: 3rem;
}

.msg {
    font-size: 20px;
}

.tweet {
    margin-bottom: 5rem;
}